

<div class="col-md-6 d-lg-block position-fixed w-100 px-0">
  <div class="header">
    <a class="logo d-block"  routerLink="">
      <img id="header-logo-mobile" src="../../assets/logo_A-B-A.svg" alt="logo site" srcset="">
    </a>
    <!--<label class="accross-text">L'idée des bonnes affaires..</label>-->
    <label class="menu-icon rounded-0" for="menu-btn"><span class="navicon"></span></label>  
    <input class="menu-btn" type="checkbox" id="menu-btn"/>
    <ul class="navigation  ">
      <li class="search  mb-5">
        <a class="btn btn-danger " id="butt-on" href="#">
          <i class="fa fa-search fa-lg" id="search-icon"></i>
        </a>
        <input class="searchinger" type='search' placeholder='votre recherche'/>
      </li>
    </ul>
    <ul class="menu text-deco mr-4">
      <li>
        <a routerLink="">
          <i class="fa fa-home fa-1x ml-lg-5 mr-3 d-lg-block"></i>
          <span class="before d-block">Accueil</span>
        </a>
      </li>                     
      <li>
        <a routerLink="/panier">
          <i class="fas fa-heart fa-1x ml-lg-5 mr-3 d-lg-block "></i>
          <span class="before d-block">Mes favoris{{panier.length}}</span>
        </a>
      </li>
      <li>
        <a routerLink="/user-account">
          <i class="fas fa-user-circle ml-lg-5 mr-3 d-lg-block"></i>
          <span class="before d-block">Compte</span>
        </a>
      </li>
      <div class="log-out d-flex align-items-end flex-column bd-highlight text-light mt-4">
        <a routerLink="/user-account">
          <p class="item-log-out p-2 bd-highlight" *ngIf="isValid" class="">bonjour {{user.name}}</p>
          <a class="cursor-log-out p-2 bd-highlight" *ngIf="isValid" (click)="logOut()">Se déconnecter</a>
        </a>
      </div>
    </ul>
  </div>  
</div>
