
.welcome {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  color: #fffdfd;
  font-family: 'hdoicons' !important;
  right: 0;
}

/* * * SEARCH FORM SLIDE RIGHT STYLE 01 * * */

.searchinger {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  height: 34px;
  padding: 0 0 0 10px;
  position: absolute;
  width: 0px;
  transition: all .5s;
  margin-left: -628px;
  top: 23px;
  background: none;

}

@media (max-width: 575.98px){
  .searchinger {
    background: none repeat scroll 0 0 transparent;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    height: 28px;
    padding: 0 0 0 10px;
    position: fixed;
    width: 28%;
    transition: all .5s;
    margin-left: 1px;
    margin-top: 10px;
  }
}


#butt-on {
  border-radius: 0;
  border: 0 none;
  height: 34px;
  padding: 0;
  margin-left: -664px;
  width: 34px;
  top: 13px;
  position: relative;
}
@media (max-width: 575.98px) { 
  #butt-on{
    border: 0 none;
    height: 28px;
    width: 36px;
    padding: 0;
    float: left;
    margin-left: 10px;
  }

  #butt-on:focus ~ .searchinger {
    width: 200px;
    background: #fff;
    cursor: auto;
    font-family: 'hdoicons' !important;
  }
  
  .searchinger:focus {
    width: 200px;
    background: #bbb;
    cursor: auto;
  }
}

#butt-on:focus ~ .searchinger {
  width: 200px;
  background: #fff;
  cursor: auto;
  font-family: 'hdoicons' !important;
}

.searchinger:focus {
  width: 200px;
  background: #bbb;
  cursor: auto;
}

#search-icon {
    margin: auto;
    position: relative;
    padding: 0px;
    width: 116%;
    top: 11px;
    font-size: x-large;
}
@media (max-width: 575.98px){
  #search-icon{
    margin: auto;
    position: relative;
    padding: 3px;
    width: 111%;
    top: 4px;
    font-size: medium;
  }
}
/* * * BUTTON DEFAULT * * */

.btn-danger {
    color: #FFF;
    background-color: #D9534F;
    border-color: #D43F3A;
}
.btn {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -moz-user-select: none;
}
/** example before "|" 
.before::before { 
  content: "|";
  color: white;
  margin-right: 25px;
}
@media (min-width: 768px) and (max-width: 1199.98px) { 

}
@include media-breakpoint-only(xs) { ... }
@include media-breakpoint-only(sm) { ... }
@include media-breakpoint-only(md) { ... }
@include media-breakpoint-only(lg) { ... }
@include media-breakpoint-only(xl) { ... }
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }
// Small devices (landscape phones, 576px and up)
@media (min-width: 575.98px) and (max-width: 767.98px) { ... }
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... } */

.logo {
  color: #f4f4f4 !important;
  cursor: pointer;
  position: relative;
  // speak: none;
  font-style: normal;
  margin-left: 584px; 
  font-family: 'hdoicons' !important;
  font-size: 26px !important;
  a:hover{
   color:  #f4f4f4;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) { 
  .logo{
    cursor: pointer;
    margin-left: 270px;
  }
}

@media (max-width: 575.98px) { 
  .logo{
    top: px;
    margin: auto;
    width: 100%;
    right: 23px;
  }
}

.text-deco li {
  
  a {
    color: red;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: red#fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  
}

.accross-text{
  position: relative;
  float: center;
  color: #f4f4f4;
  top: 95px;
  top: 0;
  z-index: 9999999977;
  margin-left: 640px;
  font-size: 1.7rem; 
  font-family: 'hdoicons' !important;
}

a{
  color: #ffffff;
}

/** menu hamburger*/

.header {
  background-color: #4267b2;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
  position: fixed;
  width: 100%;
  height: 78px;
  z-index: 3;
}
@media (min-width: 575.98px) and (max-width: 767.98px){
  .header {
    box-shadow: 0 9px 4px 0 rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    z-index: 3;
    left: 0;
  }
}

@media (max-width: 575.98px){
  .header #header-logo-mobile{
    width: 26%;
    margin-left: 63px;
  }
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.header li a {
    font-size: .92857em;
    font-weight: bolder;
    display: block;
    padding: 10px 20px;
    -webkit-transition: color .3s ease;
    border-right: 1px solid #f4f4f4;
    transition: color .3s ease;
    letter-spacing: .12em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}

@media (max-width: 575.98px) {
  .header li a {
    border-bottom: 2px solid #434f5f;
    padding: 0px 19px;
    height: 40px;
    color: #ffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: opacity,.2s;
  }
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #d9534f;
}

.header .logo {
  float: center;
  position: relative;
  font-size: 2em;
  padding: 13px 0 3px 45px;
  text-decoration: none;
  height: 0;
  top: -3px;
  right: 230px;
  z-index: 999999999;
}
@media (max-width: 575.98px) { 
  .header .logo{
    top: 0;
    right: 16px;
  }
}

/** menu     top: 0;
    right: 16px; */
.menu{
  font-size: 1.5rem;
  margin-top: -95px !important;
  z-index: 919999999;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}


/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: absolute;
  user-select: none;
  top: 63px;
  right: 50px;
  color: #f4f4f4;
}

@media (max-width: 575.98px) { 
  .header .menu-icon{
    position: relative;
    top: -10px;
    left: 0;
    color: #fff;
    z-index: 999999999;
    background: none;
    margin: auto;
  }
}

.header .menu-icon .navicon {
  // background: #f4f4f4;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
  background: #f4f4f4;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #f4f4f4;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

@media (max-width: 575.98px) { 
  .header .menu-btn:checked ~ .menu{
    margin: 0;
    padding-bottom: 17px;
    transition: all .3s ease;
    background-color: #2e3641;
    border-bottom: 1px solid #434f5f;
    top: 15px;
    position: relative;
    width: 100%;
    font-size: .92857em;
    font-weight: bolder;
  }
}


.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/** end menu hamburger*/

/** socials networks*/
.fa, fa-cart-arrow-down, fa-1x {
  color: white;

}

// @import "compass/css3";
.navigation {
  position: relative;
  left: 100px;
  display: flex;
  justify-content: center;
  z-index: -6;
  top: -4px;
  width: 103%;
}
@media (min-width: 575.98px) and (max-width: 767.98px){
  .navigation li >a {
    display: none;
  }
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: darken(#4267b2, 2%);
}

@media (min-width: 1000px){
  .container {
      max-width: 1000px;
  }
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    // -webkit-flex-flow: column wrap;
    // flex-flow: column wrap;
    // padding: 0;
    display: flex;
    position: relative;
    left: 122px;
    bottom: 50px;
    background: none;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

/**bare navigation header*/
.icon-header{
  position: relative;
  float: right;
  list-style: none;
  margin: 34px;
  font-size: 21px;
  display: flex;
  margin-top: -83px;
  font-family: 'hdoicons' !important;
}

.icon-header a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.icon-header a:hover {
  background: darken(#d9534f, 2%);
}

@media (min-width: 1000px){
  .container {
      max-width: 1000px;
  }
}

@media all and (max-width: 800px) {
  .icon-header {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .icon-header {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .icon-headern a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .icon-header li:last-of-type a {
    border-bottom: none;
  }
}

.cursor-log-out {
  cursor: pointer;
}
.log-out  a {
  display: block;
  // padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  font-size: .92857em;
  font-weight: bolder;
  text-transform: uppercase;
}
.log-out a:hover{
  background-color: #d9534f !important;
  color: #fff;
}
