/** Footer 2*/

// @import '../../variables';
// @import '../../variables';

.footer {
  background-color: #26445f;
  padding: 1.5rem 0;
  margin-bottom: -108px !important;
  .border-footer {
    padding: 1rem 0;
    border-top: 1px solid white;
    margin-bottom: 1.4rem;
    font-size: 1.6rem;
  }
  .map-africa{width: 15%; height: 15%; margin: auto; float: right; }

  @media (max-width: 575.98px) {
    .footer{
      background-color: #26445f;
      padding: 1.5rem 0;
      margin-top: -88px !important;
      list-style: none;
    }
  }

  .icon-social-r{
    font-size: 1.6rem;
  }

  .title-footer{
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #a8b4c0 !important;
  }
  .bar-nav {
    display: flex;
    padding: 1rem 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: #26445f;
    margin-top: -11px;
    padding: 2px;
  }
  list-style:none;
  a, .icon {color: white;}

  ul li{
    list-style: none;
    margin-right: 23px;
  }
  .btn-social {
    border: 1px solid white;
    border-radius: 50%;
  }
}

#menu-footer {

  padding-left: 0;

  li {

    display: inline;

  }

}