
<!--Footer-->
<footer class="footer mt-lg-4">
  <div class="container-full">
    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="icon-social-r">
          <span class="icon mr-sm-3">Retrouver-nous sur</span>
          <a href="#">
            <img src="assets/icon-facebook.png" alt="" class="img-fluid">
          </a>
          <a href="#">
            <img src="assets/icon-twitter.png" alt="" class="img-fluid">
          </a>
          <a href="#">
            <img src="assets/images/icon-pinterest.png" alt="" class="img-fluid">
          </a>
        </div>
      </div>
      <div  class="row border-footer mt-3">
        <ul class="col-6 col-md-2 col-lg-3">
          <li class="title-footer"><a href="">À PROPOS DE NOUS</a></li>
          <li><a href="">Qui sommes-nous ?</a></li>
          <li><a href="">Nous rejoindre</a></li>
        </ul>
        <ul class="col-6 col-md-2 col-lg-3">
          <li class="title-footer"><a href="">CONDITIONS GÉNÉRALES</a></li>
          <li><a href="">Conditions Générales de Vente & Règles de diffusion</a></li>
          <li><a href="">Conditions générales d’utilisation</a></li>
          <li><a href=""> Vie privée / données personnelles</a></li>
        </ul>
        <ul class="col-6 col-md-2 col-lg-3">
          <li class="title-footer"><a href="">NOS ACTUALITÉS</a></li>
          <li><a href="">Nos actions</a></li>
          <li><a href="">Newsletter</a></li>
          <li><a href="">Bons plans</a></li>
          <li><a href="">Annuaire des professionnels</a></li>
        </ul>
        <ul class="col-6 col-md-2 col-lg-3">
          <li class="title-footer"><a href="">PUBLICITÉS</a></li>
          <li><a href="">Professionnels & Particuliers</a></li>
          <li><a href="">Entrepreneurs</a></li>
        </ul>
        <ul class="col-6 col-md-2 col-lg-3">
          <li class="title-footer"><a href="">NOUS CONTACTER</a></li>
          <li><a href="">Mail: africaba@gmail.com</a></li>
          <li><a href="">Tél:+337 53063782</a></li>
        </ul>
        <img class="img-fluid map-africa" src="../../assets/Guinea_in_Africa.svg" alt="image de la carte de la Guinée" srcset="">
      </div>
      <div class="row d-flex justify-content-around bar-nav">
        <div >
          <a href="#">
            <!--<img src="assets/images/icon-casq.png" alt="" class="img-fluid">-->
            <i class="fas fa-globe-africa fa-5x"></i>
          </a>
        </div>
        <div>
          <a href="">
            <!--<img src="assets/images/icon-basket.png" alt="" class="img-fluid">-->
            <i class="fa fa-truck fa-5x"></i>

          </a>
        </div>
        <div>
          <a href="">
            <!--<img src="assets/images/icon-forum.png" alt="" class="img-fluid">
            <span class="span">Forum d'entraide</span>
            -->
            <i class="fas fa-map-marked-alt fa-5x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <ul id="menu-footer">
      <li><a href="#">Informations légales</a></li>
      <li><a href="">Données personnelles</a></li>
      <li><a href="">&copy; Africa-Bonnes-Affaires</a></li>
    </ul>
  </div>
</footer>
