.btn-resgistre{
    background:#4167b2;
    font-weight: bold;
    font-size: 17px;
    outline: none;
    cursor: pointer;
    color: #ffffff;
}

.sign-up-resigtre{
    margin-top: 100px;
}
#inscript{
    color: #4267b2;
    font-size: 18px;
    font-family: 'hdoicons' !important;
    font-weight: bold;
}