<div class="container">
  <div class="row  mr-2 d-block-lg mt-5">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">     
      <form class="form-horizontal" method="post" action="#">
        <br>
        <fieldset class="sign-up-resigtre">
          <legend id="inscript">Créez un compte</legend>			
          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Nom</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="name" id="name"  placeholder="Entrez votre Nom" required (change)="checkName($event);"mkn/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="username" class="cols-sm-2 control-label">Nom utilisateur</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="username" id="username"  placeholder="Entrez votre nom utilisateur"  (change)="checkUserName($event);"mkn/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">Email</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="email" id="email"  placeholder="Entrez votre Email"  (change)="checkEmail($event);"mkn/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="cols-sm-2 control-label">Mot de passe</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="password" class="form-control" name="password" id="password"  placeholder="Entrez votre mot de passe" (change)="checkPassWord($event);"mkn/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="confirm" class="cols-sm-2 control-label">Confirmez mot de passe</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirmez mot de passe" (change)="checkConfPassword($event);"mkn/>
              </div>
            </div>
          </div>
          <div class="form-group ">
            <button (click)="submit()" type="button" class="btn btn-resgistre btn-lg btn-block login-button">Enregistrer</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>  