/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* BODY */
section {
  background: #f6f6f6;
  margin: 0;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  padding-top: 125px;

}
/* FORM */
.user {
//   height: 100Spx;
  width: 290px;
  background: #ffffff;
  margin: 20px auto 20px auto;
  box-shadow: 1px 1px 3px 3px #d5cdcd;
  border-radius: 4px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  padding-top: 20px;
}
@media (max-width: 575.98px){ 
  .user{ margin-top: 150px;}
}

fieldset {
  border: none;
  padding-top: 25px;
}
input {
  border: none;
  background: transparent;
  border-bottom: 1.3px solid #e8e8e8;
  outline: none;
  padding: 10px;
  font-size: 14px;
  width: 200px;
  border-radius: 4px;
  margin: 4px 2px 3px 2px;
}
button {
  margin-top: 10px;
  width: 220px;
  height: 33px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 17px;
//   padding: 6px;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  background:#4167b2;
}
.sign-up{
  color: #ffffff;
  font-size: 17px;
}
h1 {
  color: #585e57;
  letter-spacing: 1px;
  padding-top: 5px;
}
p {
  color: #6f6a6a;
  margin: 14px 2px 3px 2px;
}
a {
  color: #09bf9a;
  text-decoration: none;
}
#warning {
  color: #4167b2;
  font-weight: bold;
}