
<div class="container product">
  <div class="row productBox shadow-block-product">
    <div class="col- shadow">
      <div>
        <h4 class="d-flex justify-content-center">
          <a [routerLink] = "['/produit-fiche', produit.id]">{{produit.name}}</a>
        </h4>
        <img  class="img-fluid img-thumbnail cursor img" [src]="produit.images | safe" alt="images des produits">              
        <!--<div class="d-flex justify-content-center">
          <a class="phone-button-tel text-position" href="http://">
            <i class="fas fa-mobile-alt fa-1x phone-tel"></i>
            Téléphone {{produit.phoneNumber}}
          </a>
        </div>
        <div class="d-flex justify-content-center">
            <a [routerLink] = "['/produit-list', produit.id]" class="phone-button-email text-position" href="http://">
              <i class="fas fa-envelope fa-1x phone-email"></i>
              Email {{produit.email}}
            </a>
        </div>-->
        <div class="d-flex justify-content-center">
          <h5 class="text-price text-position" >Prix:{{produit.price}}</h5>
        </div>
        <div class="d-flex justify-content-center">
          <a (click)="goToFiche(produit.id)" data-toggle="tooltip" title="Produit d'occasion vendu avec la garantie!">
            <p class="text-position">Description :<br>{{produit.description}}</p>
          </a>
        </div>
        <div class="d-flex justify-content-center">
          <p [routerLink] = "['/produit-fiche', produit.id]">{{produit.category}}</p>
        </div>
        <div class="d-flex justify-content-center">
          <p>{{produit.marque}}</p> 
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button class="color cursor mb-4" type="button" (click)="addProduitInPanier(produit)">
          Ajouter aux favoris
        </button>
      </div>
    </div>
  </div>
</div>