

<h2 class="welcome">votre panier {{user.name}}</h2>
<!--<select name="" id="" disabled="disabled"></select>-->
<div [ngClass]="'container product'">
    <div [ngClass]="'row productBox'" *ngFor="let produit of panier; index as i">
      <div class="col- shadow">
        <div>
          <h4>
            <a [routerLink] = "['/panier', produit.id]">{{produit.name}}</a>
          </h4>
          <img  class="img-fluid cursor img" [src]="produit.images | safe" alt="images des produits">
          <div class="d-flex justify-content-center">
            <h5>Prix:{{produit.price}}</h5>
          </div>
          <!--<div class="d-flex justify-content-center">
            <p>{{produit.description}}</p>             
          </div>-->  
          <div class="d-flex justify-content-center">
            <p>{{produit.marque}}</p>              
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button class="color cursor " type="button" (click)="deleteProduitInPanier(i)">supprimer</button>
        </div>       
      </div>
    </div>
  </div>

