
.contenair {
    display: flex;
    justify-content: space-around;
    flex-wrap:  wrap;    
}
.welcome {
    position: relative; 
    top: 66px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 84%;  
    color: #4167b2;      
}

// .product {
//     // background-color: #fffefe;
//     // margin-top: 30px;
//     margin-left: 139px;
// }

.productBox{
    display: inline-flex;
    background-color: #7e7879;
    color: white;
    margin-top: 80px;
    font-size: 17px;
    flex-wrap: wrap;
    border-radius: 5px;
    margin: 100px 2px 0;   
    box-shadow:inset 0 0 10px #b1a6a6;
}

.shadow:hover {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
 }
 

.cursor {
    cursor: pointer;
}

.color { 
    color: white;
    background-color: #096ec8;
    border-radius: 1.25rem;
}
.color:hover {
    color:  #ffffff;
    background-color: #099e7d;
}

a { 
    color: white;
    cursor: pointer;
    list-style: none;
    text-align: center; 
}

.img {
    width: 200px;
}