<div class="container shadow-lg">  
  <form id="contact" action="" method="post">
    <h3>Déposer une annonce</h3>
    <h4>Publiez votre produit pour lui donner plus de visibilité!</h4>
    <fieldset>
      <label>Nom</label>
      <input placeholder="Votre Nom" type="text" name="name" id="name" tabindex="2" required (change)="checkName($event);"mkn/>
    </fieldset>
    <fieldset>
      <label>Adresse Email</label>
      <input placeholder="Votre Adresse Email" type="email" name="email" id="email" tabindex="2" required (change)="checkEmail($event);"mkn/>
    </fieldset>
    <fieldset>
      <label>Téléphone</label>
      <input placeholder="Votre Telephone" type="tel" name="phoneNumber" id="phoneNumber" tabindex="3" required (change)="checkPhoneNumber($event);"mkn/>
    </fieldset>
    <fieldset>
      <label>Titre Produit</label>
      <input placeholder="Nom de votre produit" type="text" name="title" id="title" tabindex="3" required (change)="checkTitle($event);"mkn/>
    </fieldset>
    <fieldset>
      <label>Catégorie</label>
      <input placeholder="type de produit" type="text" name="category" id="category" tabindex="3" required (change)=" checkCategory($event);"mkn/>
    </fieldset>
    <fieldset>
      <label>Prix</label>
      <input placeholder="Prix" type="text" name="price" id="price" tabindex="3" required (change)="checkPrice($event);"mkn/>
    </fieldset>
    <label>Description</label>
    <fieldset>
      <textarea placeholder="Description de votre produit...." tabindex="5" name="description" id="description" required (change)="checkDescription($event);"mkn></textarea>
    </fieldset>
    <fieldset>
      <button (click)="newProduct()" name="submit" type="submit" id="contact-submit" data-submit="...Sending">Valider</button>
    </fieldset>
  </form> 
</div>
<div class="row img-picture">
  <div class="picture"  *ngFor='let url of urls'>
    <img  [src]="url" height="100" alt="telecharger les photos" srcset="">
    <input class="input-picture"  type='file' (change)="onSelectFile($event)" multiple  accept="image/bmp,image/gif,image/jpeg,image/png,image/svg,image/x-ms-bmp" name="image2" id="image2">
  </div>
</div>