

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    background-color: #fff;
    font-family: 'hdoicons' !important;
    display: flex; 
    align-items: left;
    border-color: none;
}

.welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px 20px 13px;
    align-items: center;
    position: relative;
    top: -6px;
    color: #d9534f;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    font-family: 'hdoicons' !important;
    float: right;
    right: 45px;
    background-color: #ebeaed;
    height: 350px;
    width: 19%;
    border-radius: 5px;
    box-shadow: rgba(121,121,121,.35) 1px 10px 20px;
    span{
        font-size: 23px;
        // padding: 13px;
    }
    .img-la-une{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.shadow:hover {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

/**
@media (min-width: 768px) and (max-width: 1199.98px) { ... }
@include media-breakpoint-only(xs) { ... }
@include media-breakpoint-only(sm) { ... }
@include media-breakpoint-only(md) { ... }
@include media-breakpoint-only(lg) { ... }
@include media-breakpoint-only(xl) { ... }
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }
// Small devices (landscape phones, 576px and up)
@media (min-width: 575.98px) and (max-width: 767.98px) { ... }
@media (min-width: 48em)  
*/

@media (min-width: 575.98px) and (max-width: 767.98px) { 
    .products{
        display: flex;
        align-items: center;
    }
}

.product {
    margin-top: 30px;
    margin-left: 38px;
}

.productBox{
    display: flex;
    background-color: #fff;
    color: white;
    font-size: 16px;
    border: 1px solid #fff;
    box-shadow: 8px -40px 134px #fff;
    padding: 0;
    margin: 3px 50px 0 38px;
    width: 100%;
    margin-left: -44px;
}

.cursor {
    cursor: pointer;
}
.text-price{
    font-size: 2rem;
    margin-top: 4px;
}
.color { 
    padding: 0.7em 0.7em;
    /* color: white; */
    background-color: #096ec8;
    border-radius: 24px;
    margin-left: 3px;
    border: none;
}
@media (max-width: 575.98px) { 
    .color{
        padding: 0px 12px 3px 25px;
        background: none;
        border-radius: 40px;
        left: 28px;
        border: none;
        height: 31px;
        font-weight: bold;
        font-size: 11px;
        position: relative;
        text-align: left;
        bottom: -27px;
        position: relative;
    }
}
@media (max-width: 575.98px) {
    .icon-favoris{
        color: #f57d4e;
        border-color: black;
        position: relative;
        left: -10px;
        bottom: 35px;
        z-index: 100;
        font-size: 18px;
        cursor: pointer;
    }
 }


.color:hover {
    color:  #ffffff;
    background-color: #099e7d;
}

.title-product a{color: #000000; font-weight: 500; text-decoration: none;}
a { 
    color: #000000;
    cursor: pointer;
    list-style: none;
    text-align: center; 
    font-size: 24px;
}
.bg-img-products {
    background-color: rgb(11, 127, 131) !important;
    border-color: yellow;
    z-index: 9999999999;
    .img-products {  width: 210px; }
}

/** zom images*/
.zoom {      
-webkit-transition: all 0.35s ease-in-out;    
-moz-transition: all 0.35s ease-in-out;    
transition: all 0.35s ease-in-out;     
cursor: -webkit-zoom-in;      
cursor: -moz-zoom-in;      
cursor: zoom-in;  
}     
    
.zoom:hover,  
.zoom:active,   
.zoom:focus {
/**adjust scale to desired size, 
add browser prefixes**/
-ms-transform: scale(1.4);    
-moz-transform: scale(1.4);  
-webkit-transform: scale(1.4);  
-o-transform: scale(1.4);  
transform: scale(1.4);    
position:relative;      
z-index:100;  
}


/**Carrousel homepage*/

/**slide à la UNE logo clients*/
.carousel-sli {
    position: relative !important;
    width: 60%;
    margin: auto;
    top: 90px; 
}

.block-forward{
    position: relative;
    top: -130px;
    z-index: 2;
}
@media (max-width: 575.98px) { 
    .block-forward{
        position: relative;
        z-index: 2;
    }
  }

.btn-annonce{
    position: relative;
    background-color: #4183d8;
    border-color: #4183d8;
    font-family: 'hdoicons' !important;
    width: 915px !important;
    left: -119px !important;
    margin: auto;
    font-size: 1.6rem;
    top: 36px;
    border-radius: 0;
    a {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.1em;
        
        display: inline-block;
        padding: 15px 20px;
        position: relative;
      }
      a:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        // left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      a:hover:after { 
        width: 78%; 
        left: 64px; 
      }
      
    a{
        font-size: 2.3rem;
        font-weight: bolder;
        color: #fff;
        text-decoration: none;
    }
}
.block-annonce{
    position: relative;
    align-items: center;
}

.shadow-block-product {
    top:100px;
    // box-shadow: 0 10px 40px 0 #191818;
    // box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border-radius: .5rem;
}

.phone-button-tel{
    font-family: 'hdoicons' !important;
    color: #fff;
    border-radius: 5px;
    align-items: center;
    font-size: 1.9rem;
    .phone-tel{
      color: #ffffff;
      padding: 10px;
    }
    a{color: #2f3541;}

}

.phone-button-email{
    font-family: 'hdoicons' !important;
    color: #fff;
    border-radius: 5px;
    font-size: 1.9rem;
    align-items: center;

    .phone-email{
        color: #ffffff;
        padding: 10px;
    }
}

/**carousel */

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
  
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 30s slidy infinite; 
    }
    
/** toggle infos contact*/

.item2 {
    padding: 0.3em 0em;
    // background-color: #096ec8;
    border-style: solid;
    border-color: coral;
    border-radius: 64px;
    margin-left: 3px;
    // border: none;
    width: 38%;
    float: right;
    display: flex;
    flex-wrap: wrap; 
    &:hover { background-color:coral;}
    a{color: #000000; text-decoration: none; &:hover { color:#ffffff;}}
}
@media (max-width: 575.98px) {
    .item2{
        font-size: 2px;
        font-weight: 100;
        border: none;
    }
}

.text-color h4, h2, p {
    color: #000000;
    font-weight: inherit;
    margin-top: 12px;
}
@media (max-width: 575.98px) {
    .text-color h4, h2, p{
     position: relative;
     font-size: 15px;
     font-weight: 700;
     }
 }

@media (max-width: 575.98px) {
   .text-color{
    position: relative;
    top: -8px;
    float: left;
    display: flex;
    flex-wrap: wrap-reverse;
    }
}


.font-category {font-weight: bold;}

.color-price { color: #f57d4e; font-weight: 700}
@media (max-width: 575.98px) {
    .color-price{
        color: #f57d4e;
        font-weight: 700;
        text-align: center;
        position: relative;
        left: 100px;
    }
}


 /**end toggle inofos contact*/
  
  


/**** For a future floated menu for social network *****/
.floated-social {
    transition: opacity 1s ease-in-out;
    opacity: 1;
    position: fixed;
    z-index: 6000;
    top: 16em;
    left: 0;
    padding: 7.5px 7.5px 7.5px 7.5px;
    border-radius: 0 5px 5px 0;
    background-color: #888 !important;
    border-color: #4183d8 !important;
    a {
        text-decoration-line: none;
        color: #ffffff;
    }

    i {
        font-size: 1.5em;
        align-content: center;
        text-align: center;
        margin-bottom: 5px;

        &.fab {
            display: block;
            border-radius: 60px;
            box-shadow: 0px 0px 2px #888;
            padding-top: 0.30em;
            transition: all 0.3s ease;
            width: 45px;
            height: 45px;

            &:hover {
                // @include themify($theme) {
                    background-color: #ffff;
               // border-color: #4183d8 !important;

                }
            }

            &.fa-twitter {
                padding-left: 1px;

                &:hover {
                    color: #1da1f2;
                }
            }

            &.fa-facebook-f {
                margin-bottom: 0px;

                &:hover {
                    color: #4167b2;
                }
            }

            &.fa-instagram {
                &:hover {
                    color: #d2594f;
                }
            }
        }
}


