
<!--slides publicity-->
<base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
<div id="slider">
  <figure>
  <img src="https://images.unsplash.com/photo-1419064642531-e575728395f2?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1400" alt="Chania">
  <img src="https://images.unsplash.com/photo-1445280471656-618bf9abcfe0?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1400" alt="Chania" alt>
  <img src="https://images.unsplash.com/photo-1419064642531-e575728395f2?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1400" alt="Chania">
  <img src="https://images.unsplash.com/photo-1445280471656-618bf9abcfe0?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1400" alt="Flower">
  
  </figure>
</div>
<!--div block z-index-->
<div class="block-forward">
    <div [ngClass]="{'bg-white': themeScheme == 'light','bg-dark': themeScheme == 'dark'}" class="floated-social shadow-lg d-none d-lg-block">
      <a href="https://www.facebook.com/groups/africabonnesaffaires/"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>

    <div class="block-annonce">
      <button type="button" class="btn btn-primary btn-lg btn-block btn-annonce" (click)="submit()">
        <a [routerLink] = "['/ad-page']">
          <i class="far fa-plus-square fa-1x"></i>
          Déposer votre annonce
        </a>
      </button>
    </div>
    <!--Annonces à la une-->
    <div class=" welcome d-none d-lg-block">
      <span>Annonces À LA UNE</span>
      <div class="container-fluid d-none d-lg-block img-la-une">
          <img class="img-fluid" src="../../assets/montre-femme.jpg" alt="images annonces à la une" srcset="">
          <!--<img class="img-fluid" src="../../assets/montre-festina-homme.jpg" alt="images annonces à la une" srcset="">-->
      </div>
    </div>

    <div class="container products">
      <div class="row">
        <div [ngClass]="'product w-100'" >
            <div class="shadow-block-product" [ngClass]="'productBox'" *ngFor="let produit of produits ">
             
              <div class="container  shadow">
                <div class="#">
                  <div class="container text-color ">
                    <h4 class="d-flex justify-content-center  title-product">
                      <a [routerLink] = "['/produit-list', produit.id]">{{produit.name}}</a>
                    </h4>
                    <div class="bg-img-products">
                     <img  class="im-fluid img-thumbnail zoom cursor img-products"  [src]="produit.images | safe" alt="images des produits">              
                    </div> 
                    <div class="font-category d-flex justify-content-center">
                      <p [routerLink] = "['/produit-list', produit.id]">{{produit.category}}</p>
                    </div>
                    <div class="d-flex justify-content-center">
                      <p>{{produit.marque}}</p> 
                    </div>
                  </div>
                  <div class="row d-flex justify-content-center">
                    <button class="color cursor mb-4" type="button" (click)="addProduitInPanier(produit)">
                      Ajouter aux favoris
                      <i class="fas fa-heart fa-1x ml-5 icon-favoris cursor"></i>
                    </button>
                  </div>
                </div>
                
                <div class="container text-color mt-5">
                  <div class="d-flex justify-content-center ">
                    <div class="item2">
                      <a [routerLink] = "['/produit-list', produit.id]" class="phone-button-tel " href="http://">
                        <i class="fas fa-mobile-alt fa-1x phone-tel"></i>
                        Tél: {{produit.phoneNumber}}
                      </a>
                    </div>
                    <div class="item2">
                        <a class="row"[routerLink] = "['/produit-list', produit.id]" class="phone-button-email " href="http://">
                          <i class="fas fa-envelope fa-1x phone-email"></i>
                          Mail: {{produit.email}}
                        </a>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center text-color mt-5">
                    <h2 class="color-price">Prix:{{produit.price}}</h2>
                  </div>
                  <div class="d-flex justify-content-center text-color">
                    <a (click)="goToFiche(produit.id)" data-toggle="tooltip" title="Produit d'occasion vendu avec la garantie!">
                      <p>Voir détails produit...<br></p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>


