/* You can add global styles to this file, and also import other style files */
// body{
//     background-color: #275e6c;
//     background-image: url(https://i.imgur.com/BOFglR5.png);
//     background-repeat: no-repeat;
//     background-position: center top;
//     background-attachment: fixed;

// }