<!--<div>
  <form>
    <input type="search" name="query" [(ngModel)]="query" (keyup.enter)="search()">
    <button type="button" (click)="search()">Search</button>
  </form>
  
  <table *ngIf="searchResults">
    <tbody>
    <tr *ngFor="let product of searchResults; let i=index">
      <td><a [routerLink]="['/edit', product.id]">{{product.name}}</a></td>
      <td>{{product.name}}</td>
      <td>{{product.category}}<br/>
        {{product.phoneNumber}}
      </td>
    </tr>
    </tbody>
  </table>
</div>-->
